<!DOCTYPE HTML>


<html><head>


<title>MSPARP FAQ</title>


<style type="text/css">


.FAQ {


    cursor: hand;


    cursor: pointer;


    border: 3px solid #000056;


    width: 65%;


    margin-top: 10px;


    padding: 10px;


    color:#333


}


.ANS {


    display:none;


    margin-top:7px;


    text-align: left;


}


ol {


counter-reset: item;


list-style-type: none;


list-style-position: inside;


}






ol li:before {


content: 'Q' counter(item, decimal) '. ';


counter-increment: item;


position: relative;


: -10px;


}


</style>


<script type="text/javascript">


function toggle(Info) {


var CState = document.getElementById(Info);


CState.style.display = (CState.style.display != 'block')


? 'block' : 'none';


}


</script>


<script src='/google_analytics_auto.js'></script><script src='/google_analytics_auto.js'></script></head>


<body>


<center><h1>FAQ</h1>


<p>Here you will find a few answers to questions you might have.</p>


<ol>


    <!-- START OF TEMP SECTION -->


<DIV class="FAQ" onclick="toggle('faq1')">


<li>What does it mean by unsupported.</li>


<div id="faq1" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>Basically, there will be no bug fixes or "Code Duct Tape" added, while we work on the new version of MSPARP. You can still regain lost mod by asking a Staff Member in the <a href="http://unsupported.msparp.com/chat/staffChat">staffChat.</a></div>


</DIV>


<DIV class="FAQ" onclick="toggle('faq2')">


<li>When will the server be back up?</li>


<div id="faq2" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>The thirteenth is our estimated date for the update, but it is a give or take situation, so the date is not set in stone. Please keep checking the <a href="http://msparp.tumblr.com/">MSPARP TUMBLR</a> or <a href="http://msparp.com/">MSPARP homepage</a> for updates on the server status.</div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq3')">


<li>I can't access my group chat. what can i do?</li>


<div id="faq3" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>Try recreating your chat on <a href="http://unsupported.msparp.com/">Unsupported MSPARP</a> This is a different server, so group chats will not exist until you re-create it <a href="http://unsupported.msparp.com/">here</a>! If you continue having problems, ask a staff member by clicking <a href="http://unsupported.msparp.com/chat/staffChat">here</a></div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq4')">


<li>Will I be able to access my old logs?</li>


<div id="faq4" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>Due to an unforeseen server issue, all logs from November, up to the date the MSPARP server went down, have been lost. Please forgive any inconveniences this may cause, but the loss was out of our control. All logs prior to November will become available when the real MSPARP server returns. Until then, they will not be accessible. Please save your logs while you are here on the unsupported server! Since it is a temporary server, the logs may be available to download when the main server returns. Also, try the solution suggested: <a href="http://msparp.tumblr.com/post/78825566793/id-like-to-suggest-for-people-who-would-like-to-save">here</a>. It may help you recover some of your logs. If this does not work, we are sorry.</div>


</DIV>


<!-- END OF TEMP SECTION -->


<DIV class="FAQ" onclick="toggle('faq5')">


<li>It says that there are 50 people searching but I can't seem to connect to anyone. What could be wrong?</li>


<div id="faq5" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>Matchmaker, the process that handles random connections between users, died. It needs to be revived. Contact MSPARP staff via: <a href="http://unsupported.msparp.com/chat/staffChat">staffChat.</a> This is the fastest way to let the administrators know it needs to be restarted. You can also try sending an Ask to this Tumblr: <a href="http://msparp.tumblr.com/">here</a>, but it isn't checked frequently.</div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq6')">


<li>I typed something but my post never appeared. What happened?</li>


<div id="faq6" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>From time to time, when the server gets overloaded, posts get eaten and sometimes they just don't appear on your browser. Try refreshing your browser to see if that makes your post appear. If not, try holding down your control key, along with z and y. It may repost your last post. If none of these methods work, you may have to retype your post.</div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq7')">


<li>HELP! I can't switch characters!! What could be wrong?</li>


<div id="faq7" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>If you are experiencing difficulties switching characters, there could be a few potential reasons. (1) You may need to delete your cookies and/or clear out your cache. <br> Note: that your cache is not the same as your browsing history.</div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq8')">


<li>I can't seem to type anything. What could be wrong?</li>


<div id="faq8" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>Try clearing your cookies. Visit: <a href="http://www.allaboutcookies.org/manage-cookies/clear-cookies-installed.html">here</a> for info on how to clear cookies. Also, try and clear your cache. Click: <a href="http://www.wikihow.com/Clear-Your-Browser%27s-Cache">here</a> for info on how to clear it.</div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq9')">


<li>MSPARP is not letting me (insert problem here). What do I do?</li>


<div id="faq9" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>Try clearing your cache. Visit:<a href="http://www.wikihow.com/Clear-Your-Browser%27s-Cache">here</a> for info on how to clear it.</div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq10')">


<li>How do I clear my cache?</li>


<div id="faq10" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>Try clearing your cache. Visit:<a href="http://www.wikihow.com/Clear-Your-Browser%27s-Cache">here</a> for info on how to clear it.</div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq11')">


<li>When will MSPARP get updated?</li>


<div id="faq11" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>When the programmers have time to update it. Unfortunately, we are not sure when exactly this will be, as all people working on MSPARP are doing so on a voluntary basis and have homework/work/real lives that they need to deal with.</div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq12')">


<li>I have a great idea! How can I let you know about it?</li>


<div id="faq12" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>Submit it to the: <a href="http://msparp.uservoice.com">MSPARP UserVoice</a> so other users can vote on it. Be sure to check and see that someone else hasn't posted something similar. If someone has posted something similar, then you should vote on their suggestion so we know that lots of users are interested in that feature!</div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq13')">


<li>I want to contribute to MSPARP. What can I do?</li>


<div id="faq13" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>Try to be active on the: <a href="http://www.msparp-forums.org/">MSPARP Forums</a>. The Forums are kinda slow and it would be great if we could get more people using them. You can post information about group chats, exchange advice on roleplaying, talk about Homestuck, post fan art, and do lots of other neat things there.</div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq14')">


<li>I have encountered spammers in my chat and want to get rid of them. Can you help me?</li>


<div id="faq14" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br>Right now, there's not much we can do about the spammers. We recommend that you auto-silence new users and, when the options become available, hide system messages and block them. If you're really having issues with spammers, we suggest that you move your chat to Skype or Charat until MSPARP is more secure.</div>


</DIV>






<DIV class="FAQ" onclick="toggle('faq15')">


<li>How do I clear my Cookies?</li>


<div id="faq15" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">


<span style="background-color: white; position: relative; top: -0.5em;">


Answer


</span>


</div>


<br> For info on how to clear your cookies click: <a href="http://www.allaboutcookies.org/manage-cookies/clear-cookies-installed.html">here</a> for info on how to clear it.</div>


</DIV>


</ol>


</center>


</body>


</html>

