<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>User Guide for MSPARP</title>
<style type="text/css">
.FAQ {
    cursor: hand;
    cursor: pointer;
    border: 3px solid #000056;
    width: 65%;
    margin-top: 10px;
    padding: 10px;
    color:#333;
}
.ANS {
    display:none;
    margin-top:7px;
    text-align: left;
}

li {
     color:red;
}
ol {
counter-reset: item;
list-style-type: none;
list-style-position: inside;
}
ol li:before {
/*content: 'Q' counter(item, decimal) '. ';
counter-increment: item;
position: relative;
: -10px;*/
}
</style>
<script type="text/javascript">
function toggle(Info) {
var CState = document.getElementById(Info);
CState.style.display = (CState.style.display != 'block')
? 'block' : 'none';
}
</script>
<script src='/google_analytics_auto.js'></script><script src='/google_analytics_auto.js'></script></head>
<body>
<center><h1>User Guide for MSPARP</h1>
<h3>Welcome to MSPARP, a text-roleplaying chatspace on the web. This website focuses on roleplaying for the popular webcomic, Homestuck, by Andrew Hussie. Here is some information to get you started:
<br>
<p align="center">
<a href="http://dlh-digital.com/msparpfaq.html">User F.A.Q.</a>
<br>
<a href="http://dlh-digital.com/bbcode.html">BBcode Guide</a>
<br>
<a href="http://unsupported.msparp.com/chat/staffChat">staffChat.</a>
</p>
</h3>
<ol>
    <!-- START OF Char SECTION -->
    <h2>Selecting Your Character:</h2>
<h5>Near the bottom of your screen, there should be a button labeled "Character Settings". If you click this option, it will bring up a menu with a dropdown box that contains a list of preset characters to choose from.</h5>
<br>
<h2>Options for customizing your character:</h2>
<DIV class="FAQ" onclick="toggle('faq1')">
<li>NAME AND ACRONYM OPTIONS: </li>
<div id="faq1" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">
<span style="background-color: white; position: relative; top: -0.5em;">
Information
</span>
</div>
<br>You can assign a "Handle" or "Name", along with an "Acronym", to your character with the two boxes directly below the list of preset characters. Acronyms are limited to 15 characters, while names are limited to 50. The prefix box allows you to insert a symbol, face, etc, before every message, without having to type it each time. </div>
</DIV>
<DIV class="FAQ" onclick="toggle('faq2')">
<li>CASE OPTIONS:</li>
<div id="faq2" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">
<span style="background-color: white; position: relative; top: -0.5em;">
Information
</span>
</div>
<br>The "Case" dropdown will bring you to a list of automated typing quirks, such as "CAPS" or "AlTeRnAtInG", for you to choose from. 
</div>
</DIV>
<DIV class="FAQ" onclick="toggle('faq3')">
<li>REPLACEMENT OPTIONS:</li>
<div id="faq3" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">
<span style="background-color: white; position: relative; top: -0.5em;">
Information
</span>
</div>
<br>The "Replacement" section is for customizing your own typing quirks. For example, instead of manually changing every "w" into "ww", you can input "w" into the left hand side of the replacement box and "ww" into the right hand side, for an automatic quirk. It should look something like this: [ w ] to [ ww ]. 
</div>
</DIV>
<DIV class="FAQ" onclick="toggle('faq4')">
<li>UNQUIRKING OPTIONS:</li>
<div id="faq4" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">
<span style="background-color: white; position: relative; top: -0.5em;">
Information
</span>
</div>
<br>To remove your quirk for a single message, add a / to the beginning of your message, which should remove your typing quirk without you having to change your settings.
</div>
</DIV>
<!-- END OF CHAR SECTION -->
<br>
<!-- START OF SEARCH SECTION -->
<h2>Search options:</h2>
<h5>The search option allows you to have a Random Encounter with another user.</h5>

<DIV class="FAQ" onclick="toggle('faq5')">
<li>SEARCHING FOR/ EXCLUDING SPECIFIC CHARACTERS OPTIONS:</li>
<div id="faq5" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">
<span style="background-color: white; position: relative; top: -0.5em;">
Information
</span>
</div>
<br>You can "Search for" or "Exclude" certain characters, by clicking the check-box marked: "Look for specific characters". To search for a certain character, click the check-box next to the character’s name. To exclude a character, be sure that their box is not checked, before you begin searching.
</div>
</DIV>
<DIV class="FAQ" onclick="toggle('faq6')">
<li>SCRIPT STYLE/ PARAGRAPH STYLE OPTIONS:
</li>
<div id="faq6" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">
<span style="background-color: white; position: relative; top: -0.5em;">
Information
</span>
</div>
<br>You can choose between "Script Style", "Paragraph Style", or "No Preference". Script Style includes using the character’s typing quirk and providing some sort of indication that you are doing an action and not speaking. 

Example: wwhat *Eridan gulped, his fins fluttering a bit as he eyed his broken science-wand with apprehension.* Likewise, Paragraph Style is centered around traditional writing and uses no quirks, but will use quotations to indicate speaking. Example: "What?", Eridan gulped, his fins fluttering a bit as he eyed his broken science-wand with apprehension.</div>
</DIV>
<DIV class="FAQ" onclick="toggle('faq7')">
<li>SAFE FOR WORK AND NOT SAFE FOR WORK OPTIONS: </li>
<div id="faq7" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">
<span style="background-color: white; position: relative; top: -0.5em;">
Information
</span>
</div>
<br>This allows you to choose what sort of content your chat will hold. The "Safe for Work" option will allow you to choose a chat that is free of Mature Content. The "Not Safe for Work" option includes chats that have sexual content, adult language, violence, gore, character death, and basically anything else that your grandmother would faint at if she saw you RPing it. Be mindful that NSFW chats are chats for adults 18+.</div>
</DIV>
<!-- END OF SEARCH SECTION -->
<br>
<!-- START OF SAVE/RAND SECTION -->
<h2>Save Info or Chat with a Random Person:</h2>
<DIV class="FAQ" onclick="toggle('faq8')">
<li>SAVE INFORMATION OPTION:</li>
<div id="faq8" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">
<span style="background-color: white; position: relative; top: -0.5em;">
Information
</span>
</div>
<br>The "Save Information Button", found on the homepage, is for when you want to save your character information, before you enter a Group Chat or a Random Encounter Chat. The character that you save will be the character you appear as when you join a chat room, quirk and all.</div>
</DIV>
<DIV class="FAQ" onclick="toggle('faq9')">
<li>CHAT WITH A RANDOM PERSON OPTIONS:</li>
<div id="faq9" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">
<span style="background-color: white; position: relative; top: -0.5em;">
Information
</span>
</div>
<br>The "Chat with a Random person" option will begin your search for a Random Encounter with a single user. To find a Group Chat to join, check the <a href="http://www.msparp-forums.org/">MSPARP Forums</a> or the <a href="http://www.tumblr.com/tagged/msparp">MSPARP Tag</a> on Tumblr for active chats. (links)</div>
</DIV>
<!-- END OF SAVE/RAND SECTION -->
<br>
<!-- START OF GROUP SECTION --> 
<h2>Group chats:</h2>
<h5>To create a chat, visit the <a href="http://msparp.com">MSPARP homepage</a> and scroll down until you see the "Create a group chat" option. In the box you can enter your own personal url..</h5>

<DIV class="FAQ" onclick="toggle('faq10')">
<li>URL OPTIONS:</li>
<div id="faq10" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">
<span style="background-color: white; position: relative; top: -0.5em;">
Information
</span>
</div>
<br>For example: If you wanted  a chat named "penguin", you would input "penguin" into the URL box. Then you can create your own chat!  Chat URLs can only contain letters, numbers, hyphens, and underscores. If the URL you desire has been taken by another user, you will have to alter your url. 
</div>
</DIV>
<DIV class="FAQ" onclick="toggle('faq11')">
<li>CHAT MODERATING OPTIONS: </li>
<div id="faq11" class="ANS"><br><div style="height: 2px; background-color: black; text-align: center">
<span style="background-color: white; position: relative; top: -0.5em;">
Information
</span>
</div>
<br>There are three tiers of moderators available in group chats. The lowest tier is "Amateur Gavel-Slinger", which allows a user to silence other users who are either in their tier or below. "Bum’s Rusher" is the second tier that has the ability to kick, which temporarily kicks someone out of the room, or silence users in their tier or below. "Professional Wet Blanket" is the highest tier, which can silence, kick or IP ban users in their tier or below. An IP ban permanently removes a user from the chat room.</div>
</DIV>
</ol>
</center>
</body>
</html>