/* Character icons */

.charbut {display:inline-block;position:relative;margin-left:-30px;width:28px;height:28px; background: url('../img/active.png') no-repeat 0px -28px, url('../img/char_sprite.png') 0px -28px;cursor:pointer}

.charanonymousother{background-position: 0px -28px, 0px -28px }
.butty:checked + .charanonymousother {background-position: 0px 0px, 0px -28px}
.charoriginalcharacter{background-position: 0px -28px,  0px -56px }
.butty:checked + .charoriginalcharacter {background-position: 0px 0px,  0px -56px}
.chartrickster{background-position: 0px -28px,  0px -84px }
.butty:checked + .chartrickster {background-position: 0px 0px,  0px -84px}
.chardocscratch{background-position: 0px -28px,  0px -112px }
.butty:checked + .chardocscratch {background-position: 0px 0px,  0px -112px}
.charcalliope{background-position: 0px -28px,  0px -140px }
.butty:checked + .charcalliope {background-position: 0px 0px,  0px -140px}
.charcaliborn{background-position: 0px -28px,  0px -168px }
.butty:checked + .charcaliborn {background-position: 0px 0px,  0px -168px}
.charothercanon{background-position: 0px -28px,  0px 0px }
.butty:checked + .charothercanon {background-position: 0px 0px,  0px 0px}

.charjohn {background-position: 0px -28px,  -28px -308px }
.butty:checked + .charjohn {background-position: 0px 0px,  -28px -308px}
.charrose {background-position: 0px -28px,  -28px -336px }
.butty:checked + .charrose {background-position: 0px 0px,  -28px -336px}
.chardave {background-position: 0px -28px,  -28px -364px }
.butty:checked + .chardave {background-position: 0px 0px,  -28px -364px}
.charjade {background-position: 0px -28px,  -28px -392px }
.butty:checked + .charjade {background-position: 0px 0px,  -28px -392px}
.charjane {background-position: 0px -28px,  -28px -420px }
.butty:checked + .charjane {background-position: 0px 0px,  -28px -420px}
.charroxy {background-position: 0px -28px,  -28px -448px }
.butty:checked + .charroxy {background-position: 0px 0px,  -28px -448px}
.chardirk {background-position: 0px -28px,  -28px -476px }
.butty:checked + .chardirk {background-position: 0px 0px,  -28px -476px}
.charjake {background-position: 0px -28px,  -28px -504px }
.butty:checked + .charjake {background-position: 0px 0px,  -28px -504px}

.chararadia{background-position: 0px -28px,  0px -196px }
.butty:checked + .chararadia {background-position: 0px 0px,  0px -196px}
.chartavros{background-position: 0px -28px,  0px -224px }
.butty:checked + .chartavros{background-position: 0px 0px,  0px -224px}
.charsollux{background-position: 0px -28px,  0px -252px }
.butty:checked + .charsollux {background-position: 0px 0px,  0px -252px}
.charkarkat{background-position: 0px -28px,  0px -280px }
.butty:checked + .charkarkat {background-position: 0px 0px,  0px -280px}
.charnepeta{background-position: 0px -28px,  0px -308px }
.butty:checked + .charnepeta {background-position: 0px 0px,  0px -308px}
.charkanaya{background-position: 0px -28px,  0px -336px }
.butty:checked + .charkanaya{background-position: 0px 0px,  0px -336px}
.charterezi{background-position: 0px -28px,  0px -364px }
.butty:checked + .charterezi {background-position: 0px 0px,  0px -364px}
.charvriska{background-position: 0px -28px,  0px -392px }
.butty:checked + .charvriska {background-position: 0px 0px,  0px -392px}
.charequius{background-position: 0px -28px,  0px -420px }
.butty:checked + .charequius {background-position: 0px 0px,  0px -420px}
.chargamzee{background-position: 0px -28px,  0px -448px }
.butty:checked + .chargamzee {background-position: 0px 0px,  0px -448px}
.chareridan{background-position: 0px -28px,  0px -476px }
.butty:checked + .chareridan {background-position: 0px 0px,  0px -476px}
.charfeferi{background-position: 0px -28px,  0px -504px }
.butty:checked + .charfeferi {background-position: 0px 0px,  0px -504px}

.chardamara{background-position: 0px -28px,  0px -532px }
.butty:checked + .chardamara {background-position: 0px 0px,  0px -532px}
.charrufioh{background-position: 0px -28px,  0px -560px }
.butty:checked + .charrufioh{background-position: 0px 0px,  0px -560px}
.charmituna{background-position: 0px -28px,  0px -588px }
.butty:checked + .charmituna {background-position: 0px 0px,  0px -588px}
.charkankri{background-position: 0px -28px,  0px -616px }
.butty:checked + .charkankri {background-position: 0px 0px,  0px -616px}
.charmeulin{background-position: 0px -28px,  0px -644px }
.butty:checked + .charmeulin {background-position: 0px 0px,  0px -644px}
.charporrim{background-position: 0px -28px,  0px -672px }
.butty:checked + .charporrim{background-position: 0px 0px,  0px -672px}
.charlatula{background-position: 0px -28px,  0px -700px }
.butty:checked + .charlatula {background-position: 0px 0px,  0px -700px}
.chararanea{background-position: 0px -28px,  0px -728px }
.butty:checked + .chararanea {background-position: 0px 0px,  0px -728px}
.charhoruss{background-position: 0px -28px,  0px -756px }
.butty:checked + .charhoruss {background-position: 0px 0px,  0px -756px}
.charkurloz{background-position: 0px -28px,  0px -784px }
.butty:checked + .charkurloz {background-position: 0px 0px,  0px -784px}
.charcronus{background-position: 0px -28px,  0px -812px }
.butty:checked + .charcronus {background-position: 0px 0px,  0px -812px}
.charmeenah{background-position: 0px -28px,  0px -840px }
.butty:checked + .charmeenah {background-position: 0px 0px,  0px -840px}

.charthehandmaid{background-position: 0px -28px,  -28px -532px }
.butty:checked + .charthehandmaid {background-position: 0px 0px,  -28px -532px}
.charthesummoner{background-position: 0px -28px,  -28px -560px }
.butty:checked + .charthesummoner{background-position: 0px 0px,  -28px -560px}
.charthepsiioniic{background-position: 0px -28px,  -28px -588px }
.butty:checked + .charthepsiioniic {background-position: 0px 0px,  -28px -588px}
.charthesignless{background-position: 0px -28px,  -28px -616px }
.butty:checked + .charthesignless {background-position: 0px 0px,  -28px -616px}
.charthedisciple{background-position: 0px -28px,  -28px -644px }
.butty:checked + .charthedisciple {background-position: 0px 0px,  -28px -644px}
.charthedolorosa{background-position: 0px -28px,  -28px -672px }
.butty:checked + .charthedolorosa{background-position: 0px 0px,  -28px -672px}
.charredglare{background-position: 0px -28px,  -28px -700px }
.butty:checked + .charredglare {background-position: 0px 0px,  -28px -700px}
.charmindfang{background-position: 0px -28px,  -28px -728px }
.butty:checked + .charmindfang {background-position: 0px 0px,  -28px -728px}
.chardarkleer{background-position: 0px -28px,  -28px -756px }
.butty:checked + .chardarkleer {background-position: 0px 0px,  -28px -756px}
.chargrandhighblood{background-position: 0px -28px,  -28px -784px }
.butty:checked + .chargrandhighblood {background-position: 0px 0px,  -28px -784px}
.chardualscar{background-position: 0px -28px,  -28px -812px }
.butty:checked + .chardualscar {background-position: 0px 0px,  -28px -812px}
.charthecondesce{background-position: 0px -28px,  -28px -840px }
.butty:checked + .charthecondesce {background-position: 0px 0px,  -28px -840px}

.chardad{background-position: 0px -28px,  -28px -924px }
.butty:checked + .chardad {background-position: 0px 0px,  -28px -924px}
.charnanna{background-position: 0px -28px,  0px -980px }
.butty:checked + .charnanna {background-position: 0px 0px,  0px -980px}
.charmom{background-position: 0px -28px,  -28px -980px }
.butty:checked + .charmom {background-position: 0px 0px,  -28px -980px}
.charbro{background-position: 0px -28px,  0px -952px }
.butty:checked + .charbro {background-position: 0px 0px,  0px -952px}
.chargrandpa{background-position: 0px -28px,  -28px -1008px }
.butty:checked + .chargrandpa{background-position: 0px 0px,  -28px -1008px}
.charpoppop{background-position: 0px -28px,  0px -1036px }
.butty:checked + .charpoppop {background-position: 0px 0px,  0px -1036px}
.charalphamom{background-position: 0px -28px,  0px -1008px }
.butty:checked + .charalphamom{background-position: 0px 0px,  0px -1008px}
.charalphabro{background-position: 0px -28px,  -28px -952px }
.butty:checked + .charalphabro {background-position: 0px 0px,  -28px -952px}
.chargrandma{background-position: 0px -28px,  -28px -1036px }
.butty:checked + .chargrandma {background-position: 0px 0px,  -28px -1036px}

.charnannasprite{background-position: 0px -28px,  -28px 0px }
.butty:checked + .charnannasprite {background-position: 0px 0px,  -28px 0px}
.charjaspersprite{background-position: 0px -28px,  -28px -28px }
.butty:checked + .charjaspersprite {background-position: 0px 0px,  -28px -28px}
.charcalsprite{background-position: 0px -28px,  -28px -56px }
.butty:checked + .charcalsprite {background-position: 0px 0px,  -28px -56px}
.chardavesprite{background-position: 0px -28px,  -28px -84px }
.butty:checked + .chardavesprite {background-position: 0px 0px,  -28px -84px}
.charjadesprite{background-position: 0px -28px,  -28px -112px }
.butty:checked + .charjadesprite {background-position: 0px 0px,  -28px -112px}
.chartavrisprite{background-position: 0px -28px,  -28px -140px }
.butty:checked + .chartavrisprite {background-position: 0px 0px,  -28px -140px}
.charfefetasprite{background-position: 0px -28px,  -28px -168px }
.butty:checked + .charfefetasprite {background-position: 0px 0px,  -28px -168px}
.charerisolsprite{background-position: 0px -28px,  -28px -196px }
.butty:checked + .charerisolsprite {background-position: 0px 0px,  -28px -196px}

.charspadesslick{background-position: 0px -28px,  -28px -868px }
.butty:checked + .charspadesslick {background-position: 0px 0px,  -28px -868px}
.charclubsdeuce{background-position: 0px -28px,  0px -896px }
.butty:checked + .charclubsdeuce {background-position: 0px 0px,  0px -896px}
.chardiamondsdroog{background-position: 0px -28px,  -28px -896px }
.butty:checked + .chardiamondsdroog {background-position: 0px 0px,  -28px -896px}
.charheartsboxcars{background-position: 0px -28px,  0px -924px }
.butty:checked + .charheartsboxcars {background-position: 0px 0px,  0px -924px}


.charlordenglish{background-position: 0px -28px,  -28px -252px }
.butty:checked + .charlordenglish {background-position: 0px 0px,  -28px -252px}
.chararadiadead{background-position: 0px -28px,  -56px -28px }
.butty:checked + .chararadiadead {background-position: 0px 0px,  -56px -28px}
.chararadiabot{background-position: 0px -28px,  -56px 0px }
.butty:checked + .chararadiabot {background-position: 0px 0px,  -56px 0px}
.chararadiasprite{background-position: 0px -28px,  -56px -56px }
.butty:checked + .chararadiasprite {background-position: 0px 0px,  -56px -56px}
.charsolluxblind{background-position: 0px -28px,  -56px -84px }
.butty:checked + .charsolluxblind {background-position: 0px 0px,  -56px -84px}
.charthehelmsman{background-position: 0px -28px,  -56px -112px }
.butty:checked + .charthehelmsman {background-position: 0px 0px,  -56px -112px}
.chargamzeesober{background-position: 0px -28px,  -56px -140px }
.butty:checked + .chargamzeesober {background-position: 0px 0px,  -56px -140px}
.chararhal{background-position: 0px -28px,  -28px -280px }
.butty:checked + .chararhal {background-position: 0px 0px,  -28px -280px}
.chararquiusprite{background-position: 0px -28px,  -28px -224px }
.butty:checked + .chararquiusprite{background-position: 0px 0px,  -28px -224px}


@media 
(-webkit-min-device-pixel-ratio: 1.2), (min-device-pixel-ratio: 1.1),  
(min-resolution: 106dpi), (min-resolution: 100dpi) and (-moz-images-in-menus: 1), (min-resolution: 100dpi) and (-moz-images-in-menus: 0) { 

#container:not(.hdpi-disabled) .charbut, body:not(.hdpi-disabled) #userList .charbut {background-image: url('../img/active.svg'), url('../img/char_sprite.svg')}
}