/* General */

body {
	margin: 5px;
	background-color: #cccccc;
	background-attachment: fixed;
	word-wrap: break-word;
}

body, button, input, select, optgroup, option {
	font-family: "Courier", monospace;
	font-size: 12px;
	font-weight: bold;
}

a:hover {text-decoration: none;}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline}

h1 {
	font-size: 14pt;
	word-wrap: break-word;
}

h1 {
	margin: 5px;
}

p {
	margin: 0;
	padding: 2px 5px;
}

hr {
	margin: 5px 0;
	border-color: #999999;
	border-style: solid;
	border-width: 1px 0 0 0;
}

button, input, select, #conversation, #settings, #userList, #preview, .pager, #archiveConversation {
	border: 1px solid #999999;
	border-radius: 1px;
}

#conversation, #settings, #userList, #preview, .pager, #archiveConversation {
	background-color: #eeeeee;
}

button, input, select {
	background-color: rgba(255,255,255,0.8);
}

input[type="submit"], button {
	display: inline-block;
	padding: 2px 4px;
	cursor: pointer;
}

input {
	padding: 2px;
}

optgroup {
	color: #666666;
	font-style: normal;
}

optgroup option {
	color: #000000;
	padding: 0 10px;
}

input:focus, input:hover, select:focus, select:hover, button:hover {
	background-color: #ffffff;
}

.timestamp {
	display: none;
}

p:hover .timestamp {
	display: block;
	float: right;
	color: #666;
}

/* Chat layout */

#conversation {
	position: fixed;
	top: 5px;
	right: 5px;
	bottom: 79px;
	left: 5px;
	overflow: auto;
	padding: 2px 0;
}

#conversation.search {
	background-image: url('/static/img/throbber-big.gif');
	background-repeat: no-repeat;
	background-position: center;
}

body.withSidebar #conversation {
	right: 230px;
}

.sidebar {
	display: none;
	position: fixed;
	top: 5px;
	right: 5px;
	bottom: 5px;
	width: 218px;
	overflow: auto;
}

.sidebar .close {
	display: none;
}

#topic {
	padding: 0 5px 5px;
	word-wrap: break-word;
}

#topic:empty {
	display: none;
}

.sidebar ul {
	margin: 0;
	padding: 0 0 0 1.5em;
}

#online:empty:after, #idle:empty:after {
	content: "(no-one)";
	display: block;
	padding: 2px 0;
	color: #999999;
	font-style: italic;
}

.sidebar ul li {
	padding: 2px 0;
}

#online li, #idle li {
	cursor: pointer;
}

.sidebar ul ul {
	color: #000;
}

#controls {
	position: fixed;
	right: 8px;
	bottom: 5px;
	left: 8px;
}

body.withSidebar #controls {
	right: 233px;
}

#controls input[type="submit"], #controls button {
	margin: 5px 0 0 0;
}

#hidePreview {
	position: absolute;
	right: 0;
	padding: 2px;
}

#preview {
	margin: 0 -3px -1px -3px;
	padding: 2px;
	overflow: hidden;
}

#textInput {
	display: block;
	width: 100%;
	margin: 0 -3px;
	padding: 2px;
}

body #userListButton {
	display: none;
}

#controls button[type="submit"] {
	float: right;
}

.highlight {
	background-color: #ffffff;
}

body > #save {
	display: none;
}

/* Sidebars */

body.settings #settings, body.userList #userList {
	display: block;
}

/* User groups */

.globalmod {
	text-decoration: underline;
}

.mod, .mod2, .mod3 {
	font-style: italic;
}

.silent {
	text-decoration: line-through;
}

/* Moderation */

#metaOptions, .modPowers #metaResults, #metaResults li {
	display: none;
}

.modPowers #metaOptions {
	display: block;
}

#metaOptions input {
	vertical-align: middle;
	margin: 0 0 0 2px;
}

/* Mobile */

body.mobile .sidebar {
	left: 5px;
	width: auto;
}

body.mobile .sidebar .close {
	display: block;
	margin: 5px;
	float: right;
}

body.mobile #conversation {
	right: 5px !important;
}

body.mobile #controls {
	right: 8px !important;
}

body.mobile #userListButton {
	display: inline;
}

body.mobile.withSidebar #conversation, body.mobile.withSidebar #controls {
	display: none;
}

/* Archive */

.pager {
	padding: 2px 5px;
}

#archiveConversation {
	margin: 5px 0;
	padding: 2px 0;
}

/* BBCode */
.padded {
	padding: 5px;
	border-radius: 5px;
}

.spoil {
    border: dashed;
    border-width: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.spoiler{
    opacity: 0;
    cursor: pointer;
}

.userID {
    display: block;
    color: #000000;
    font-size: 11px;
}

/*options menu */

ul#menu, ul#menu ul.sub-menu {
    padding:0;
    margin: 0;
}
ul#menu li, ul#menu ul.sub-menu li {
    list-style-type: none;
    display: inline-block;
}

/*Link Appearance*/
ul#menu li a, ul#menu li ul.sub-menu li a {
    text-decoration: none;
    color: #fff;
    background: #666;
    padding: 5px;
    display:inline-block;
}
/*Make the parent of sub-menu relative*/
ul#menu li {
    position: relative;
}
/*sub menu*/
ul#menu li ul.sub-menu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100px;
}
ul#menu li:hover ul.sub-menu {
    display:block;
}
