/* General */

body {
	margin: 5px;
	background-color: #cccccc;
	background-attachment: fixed;
	word-wrap: break-word;
}

body, button, input, select, optgroup, option {
	font-family: "Courier", monospace;
	font-size: 12px;
	font-weight: bold;
}

a:hover {text-decoration: none;}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline}

h1 {
	font-size: 14pt;
	word-wrap: break-word;
}

h1 {
	margin: 5px;
}

p {
	margin: 0;
	padding: 2px 5px;
}

hr {
	margin: 5px 0;
	border-color: #999999;
	border-style: solid;
	border-width: 1px 0 0 0;
}

button, input, select, #conversation, #settings, #userList, #preview, .pager, #archiveConversation, #logLink {
	border: 1px solid #999999;
	border-radius: 1px;
}

#conversation, #settings, #userList, #preview, .pager, #archiveConversation {
	background-color: #eeeeee;
}

button, input, select, #logLink {
	background-color: rgba(255,255,255,0.8);
}

input[type="submit"], button, #logLink {
	display: inline-block;
	padding: 2px 4px;
	cursor: pointer;
}

input {
	padding: 2px;
}

optgroup {
	color: #666666;
	font-style: normal;
}

optgroup option {
	color: #000000;
	padding: 0 10px;
}

input:focus, input:hover, select:focus, select:hover, button:hover, #logLink:hover {
	background-color: #ffffff;
}

.timestamp {
	display: none;
}

p:hover .timestamp {
	display: block;
	float: right;
	color: #666;
}

/* Chat layout */

#conversation {
	position: fixed;
	top: 5px;
	right: 5px;
	bottom: 79px;
	left: 5px;
	overflow: auto;
	padding: 2px 0;
}

#conversation.search {
	background-image: url('/static/img/spinner-big.gif');
	background-repeat: no-repeat;
	background-position: center !important;
}

body.withSidebar #conversation {
	right: 230px;
}

.sidebar {
	display: none;
	position: fixed;
	top: 5px;
	right: 5px;
	bottom: 5px;
	width: 218px;
	overflow: auto;
}

.sidebar .close {
	display: none;
}

#topic {
	padding: 0 5px 5px;
	word-wrap: break-word;
}

#topic:empty {
	display: none;
}

.sidebar ul {
	margin: 0;
	padding: 0 0 0 1.5em;
}

#online:empty:after {
	content: "(no-one)";
	display: block;
	padding: 2px 0;
	color: #999999;
	font-style: italic;
}

.sidebar ul li {
	padding: 2px 0;
}

#online li {
	cursor: pointer;
}

.sidebar ul ul {
	color: #000;
}

.sidebar #replacementList li input {
	width:50px;
}

#controls {
	position: fixed;
	right: 8px;
	bottom: 5px;
	left: 8px;
}

body.withSidebar #controls {
	right: 233px;
}

#controls input[type="submit"], #controls button, #logLink {
	margin: 5px 0 0 0;
}

#hidePreview {
	position: absolute;
	right: 0;
	padding: 2px;
}

#preview {
	margin: 0 -3px -1px -3px;
	padding: 2px;
	overflow: hidden;
}

#textInput {
	display: block;
	width: 100%;
	margin: 0 -3px;
	padding: 2px;
}

body #userListButton {
	display: none;
}

#controls button[type="submit"] {
	float: right;
}

.highlight {
	background-color: #ffffff;
}

body > #save {
	display: none;
}

 #disconnectButton, #settingsButton, #userListButton, #controls #logLink, button[type="submit"]
 {font-weight:bold;line-height:14px;padding: 4px 10px;}

/* Sidebars */

body.settings #settings, body.userList #userList {
	display: block;
}

/* User groups */

.globalmod {
	text-decoration: underline;
}

.mod, .mod2, .mod3 {
	font-style: italic;
}

.silent {
	text-decoration: line-through;
}

.globalicon, .spiroicon {vertical-align:middle;margin-right:6px;display:inline-block;width:16px;height:16px;}

.globalicon {background: url('/static/img/sburb.png') no-repeat;}

.spiroicon {background: url('/static/img/spirograph.png') no-repeat;}

/* Moderation */

#metaOptions, .modPowers #metaResults, #metaResults li {
	display: none;
}

.modPowers #metaOptions {
	display: block;
}

#metaOptions input {
	vertical-align: middle;
	margin: 0 0 0 2px;
}

#logLink {
	color: black;
}

#logLink:hover {
	text-decoration: none;
}

/* Mobile */

body.mobile .sidebar {
	left: 5px;
	width: auto;
}

body.mobile #disconnectButton, body.mobile #settingsButton, body.mobile #userListButton, body.mobile #controls #logLink, body.mobile button[type="submit"]
 {font-weight:bold;line-height:1em;padding: 2px;}

body.mobile .sidebar .close {
	display: block;
	margin: 5px;
	float: right;
}

body.mobile #conversation {
	right: 5px !important;
}

body.mobile #controls {
	right: 8px !important;
}

body.mobile #userListButton {
	display: inline;
}

body.mobile.withSidebar #conversation, body.mobile.withSidebar #controls {
	display: none;
}

body.mobile #conversation, body.mobile #userList, body.mobile #settings {
    -webkit-overflow-scrolling: touch;
}

/* Archive */

.pager {
	padding: 2px 5px;
}

#archiveConversation {
	margin: 5px 0;
	padding: 2px 0;
}

/* checkbox style */

.checkbox_outer * {height:27px;vertical-align:middle}
.checkbox_outer label{vertical-align:baseline;line-height:27px;margin:0px;padding:0}

.boxy {background:none; cursor:pointer;opacity:0;width:16px;height:16px;overflow:hidden;display:inline-block;margin:0 ;padding:0}
.checkbox_outer {position:relative;top:0px;display:inline; margin:0 ;padding:0;margin-right: 5px}
.boxy + .checky {position:absolute; margin:0;top:0; left:0; background-image: url('/static/img/controls.png'); background-repeat: no-repeat;width:16px;height:16px;overflow:hidden;display:inline;}
.boxy, .checkbox_outer {height: 16px; width: 16px; position: relative; z-index: 10;}

.checkbutton_outer {display:inline}


/* Checkbox options */

.boxy:checked + .checky{ background-position: -16px 0; }
.boxy:hover:checked + .checky,
.boxy:focus:checked + .checky { background-position: -16px -16px; }
.boxy:hover + .checky,
.boxy:focus + .checky { background-position: 0 -16px; }
.boxy:active + .checky { background-position: 0 -48px; }
.boxy:disabled + .checky{ background-position: 0 -32px; }
.boxy:disabled:checked + .checky { background-position: -16px -32px; }
.boxy:hover:disabled + .checky,
.boxy:focus:disabled + .checky { background-position: 0 -32px; }
.boxy:hover:disabled:checked + .checky ,
.boxy:focus:disabled:checked + .checky { background-position: -16px -32px; }
.boxy:active:checked + .checky { background-position: -16px -48px; }

/* BBCode */
.padded {
	padding: 5px;
	border-radius: 5px;
}

.spoil {
    border: dashed;
    border-width: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.spoiler{
    opacity: 0;
    cursor: pointer;
}

.userID {
    display: block;
    color: #000000;
    font-size: 11px;
}

#userList #online {list-style:none;margin-left:0px;padding-left:8px}
#userList .charbut {vertical-align:middle;margin:-3px;margin-left:-6px;margin-right:1px;display:inline-block;width:28px;height:28px; -ms-transform: scale(0.85);-webkit-transform: scale(0.85);transform: scale(0.85)}


/* hdpi */

@media 
(-webkit-min-device-pixel-ratio: 1.2), (min-device-pixel-ratio: 1.1),  
(min-resolution: 106dpi), (min-resolution: 100dpi) and (-moz-images-in-menus: 1), (min-resolution: 100dpi) and (-moz-images-in-menus: 0) { 

body:not(.hdpi-disabled) .boxy + .checky {background-image: url('/static/img/controls.svg');}

body:not(.hdpi-disabled) .globalicon {background: url('/static/img/sburb.svg') no-repeat;}

body:not(.hdpi-disabled) .spiroicon {background: url('/static/img/spirograph.svg') no-repeat;}

body:not(.hdpi-disabled) #conversation.search {
	background-size: 75px 75px;
}

}