body {
background-color: #01020f;
color: #d4540b;
}

body.downfall {
animation: thunder 30s infinite;
-webkit-animation: thunder 30s infinite;
}

#container {
background:none;
background:url('../img/horrorterrors.png') repeat;
background-attachment: fixed;
animation: ringscroll 1340s linear infinite;
-webkit-animation: ringscroll 1340s linear infinite;
}

@keyframes ringscroll {
	0% { background-position: 0 0; }
	10%{ background-position: 58px 148px; }
	20%{ background-position: 291px 75px; }
	30%{ background-position: 583px 37px; }
	40%{ background-position: 408px 111px; }
	50%{ background-position: 350px 185px; }
	60%{ background-position: 290px 168px; }
	70%{ background-position: 116px 334px; }
	80%{ background-position: 60px 296px; }
	90%{ background-position: 70px 75px; }
	100%{ background-position: 0 0; }
}

@-webkit-keyframes ringscroll {
	0% { background-position: 0 0; }
	10%{ background-position: 10% 40%; }
	20%{ background-position: 50% 20%; }
	30%{ background-position: 100% 10%; }
	40%{ background-position: 70% 30%; }
	50%{ background-position: 60% 50%; }
	60%{ background-position: 50% 50%; }
	70%{ background-position: 20% 90%; }
	80%{ background-position: 10% 80%; }
	90%{ background-position: 10% 20%; }
	100%{ background-position: 0 0; }
}

input, select {background: #3c4152;border:1px solid #42485a; border-radius:1px;color:#d37d17}

a {color: #e6e6e6}
a:hover {color:#d4540b}

.pester-line {background: #0c0d16;border:1px solid #1b1d32; border-radius:1px}

div.logo .image {background:url('../img/logo_creppy.gif') 0px bottom no-repeat;background-size:contain;}

.boxy + .checky {background-image: url('../img/controls_creppy.png');}


.picky-header, h1 {color: #e6e6e6}


div.options button, input[type="button"], input[type="submit"], button, a.linkButton, #charbar, #nav li, #nav li a,#nav, #navbar {
    background:#d4540b;
	color: #11121f;
}

#nav li a:before {content:' ';display:inline-block;width:21px;height:16px;vertical-align:middle;}

#serverstatus .ok, .error {color:#59fa00}

.options  h1:before, #nav li a.active:before,
#nav li a:hover:before {content:' ';display:inline-block;width:21px;height:16px;vertical-align:middle;background:url('../img/candycorn.png') 0px 0px no-repeat;}

@keyframes thunder {
    0% {background-color: #91a2b2;}
	2.15% {background-color: #01020f;}
    2.17% {background-color: #ecf4ff;}
	3.5% {background-color: #01020f;}
	3.6% {background-color: #01020f;}
    3.61% {background-color: #91a2b2;}
	5% {background-color: #01020f;}
	9.6% {background-color: #01020f;}
    9.68% {background-color: #11121f;}
	9.8% {background-color: #01020f;}
	22.5% {background-color: #01020f;}
    22.51% {background-color: #91a2b2;}
	24.16% {background-color: #01020f;}
	57.5% {background-color: #01020f;}
	57.53% {background-color: #11121f;}
	58.83% {background-color: #01020f;}
	99.6% {background-color: #01020f;}
	99.8% {background-color: #ecf4ff;}
} 

@-webkit-keyframes thunder {
    0% {background-color: #91a2b2;}
	2.15% {background-color: #01020f;}
    2.17% {background-color: #ecf4ff;}
	3.5% {background-color: #01020f;}
	3.6% {background-color: #01020f;}
    3.61% {background-color: #91a2b2;}
	5% {background-color: #01020f;}
	9.6% {background-color: #01020f;}
    9.68% {background-color: #11121f;}
	9.8% {background-color: #01020f;}
	22.5% {background-color: #01020f;}
    22.51% {background-color: #91a2b2;}
	24.16% {background-color: #01020f;}
	57.5% {background-color: #01020f;}
	57.53% {background-color: #11121f;}
	58.83% {background-color: #01020f;}
	99.6% {background-color: #01020f;}
	99.8% {background-color: #ecf4ff;}
} 



@media handheld, only screen and (max-width: 782px), only screen and (max-device-width: 782px) {
 
 #nav {border:1px solid #d4540b;z-index:30;width:200px}
 #nav li a {color:#11121f}
 #nav li a:hover {color:#151623}
  #nav li a:active, #nav li a:focus {color:#151623}
 #nav li a:before, #nav li a.active:before, #nav li a:hover:before {content:' ';display:inline-block;width:25px;height:16px;background:url('../img/candycorn.png') 0px 0px no-repeat;}
  #nav.is-open {height:auto; background: #d4540b}
 
 }

 
@media 
(-webkit-min-device-pixel-ratio: 1.2), (min-device-pixel-ratio: 1.1),  
(min-resolution: 106dpi), (min-resolution: 100dpi) and (-moz-images-in-menus: 1), (min-resolution: 100dpi) and (-moz-images-in-menus: 0) { 
#container:not(.hdpi-disabled) .boxy + .checky {background-image: url('../img/controls_creppy.svg');}
#container:not(.hdpi-disabled) div.logo .image {background:url('../img/logo_creppy.svg') 0px bottom no-repeat;background-size:contain;}
#container:not(.hdpi-disabled) .options  h1:before, #container:not(.hdpi-disabled) #nav li a.active:before,
#container:not(.hdpi-disabled) .options  h1:before, #container:not(.hdpi-disabled) #nav li a.active:before,
#container:not(.hdpi-disabled) #nav li a:hover:before{background:url('../img/candycorn.svg') 0px 0px no-repeat;}
}

@media handheld, only screen and (max-width: 782px) and (min-device-pixel-ratio: 1.1), only screen and (max-device-width: 782px) and (min-device-pixel-ratio: 1.1),
only screen and (max-width: 782px) and (-webkit-min-device-pixel-ratio: 1.1), only screen and (max-device-width: 782px) and (-webkit-min-device-pixel-ratio: 1.1) {
#nav li a:before, #nav li a.active:before, #nav li a:hover:before {background:url('../img/candycorn.svg') 0px 0px no-repeat;}
 }
 
   @media handheld, only screen and (max-width: 885px) and (min-device-pixel-ratio: 1.3), only screen and (max-device-width: 885px) and (-webkit-min-device-pixel-ratio: 1.3) {
   a.linkButton:active, #saveOptions input[type="submit"]:active, div.options button:active {background:#e6e6e6}
   #container {
background-size:291px 186px;
}
  }
  