/* Chat */

div.chat-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #EEE;
}

#chat-log {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	position: absolute;
}

#chat-log-inner {
	margin: 1em;
}

#chat-hover {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #DDD;	
}

#chat-hover input#chat-line {
	width: 100%;
	margin:0;
	border-left: 0;
	border-right: 0;
}

#hide-preview {
	position: absolute;
	right: 0;
	margin: 0;
	padding: 0;
	top: 0;
	text-decoration: none;
}

#hide-preview:link ,#hide-preview:visited {	
	color: grey;
}

/* Searching */



/* Homepage */

noscript, error {
	color: #ff0000;
}

div.online-notice {
	position: absolute;
	right: 0;
	border: 1px solid black;
	background: white;
	color: black;
	padding: 5px;
	top: 0;
}

div.options {
	border: 1px solid black;
	padding: 1em;
}

div.options h1 {
	margin: 0;
	display: inline;
}

div.options button {
	vertical-align: 20%;
}

select.character-select {
	font-size: 12pt;
}

.pester-line {
	font-family: courier,monospace;
	font-weight: bold;
	font-size: 12px;
	background-color: #EEE;
}

#color-preview {
	padding: 4px;
}

label.quirk {
	display: block;

}

.picky-group {
	margin: 5px;
	margin-left: 0.5em;
}

b.picky-header {
	cursor: pointer;
}

.bigbutton {
	padding: 1em 3em;
}
