{% include 'header_admin.html' %}

<div class="container">
    <h1> Front Messages </h1>
    <form role="form" action="/admin/changemessages" method="post">
  		<div class="form-group">
    		<label for="inputColor">Welcome Text</label>
    		<textarea class="form-control" id="welcome_text" placeholder="Blame Nepeat" name="welcome_text">{% if welcome_text != None %}{{welcome_text}}{% endif %}</textarea>
  		</div>
  		<div class="form-group">
    		<label for="inputColor">Updates Text</label>
    		<textarea class="form-control" id="updates_text" placeholder="Blame Nepeat" name="updates_text">{% if updates_text != None %}{{updates_text}}{% endif %}</textarea>
  		</div>
                <div class="form-group">
                <label for="inputColor">Chat Links</label>
    		<textarea class="form-control" id="chat_links" placeholder="Blame Nepeat" name="chat_links">{% if chat_links != None %}{{chat_links}}{% endif %}</textarea>
                </div>
  		<button type="submit" class="btn btn-default">Change</button>
	</form>

</div>

</body>

</html>
