{% extends "base.html" %}
{% block title%}{% endblock %}
{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/characters.css?41031" />
<link rel="stylesheet" href="/static/css/chat.css?41101">
<link rel="stylesheet" media="screen" type="text/css" href="/static/colorpicker/css/colorpicker.css" />
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/colorpicker/js/colorpicker.js"></script>
<script src="/static/js/characters.js?41102b"></script>
<script src="/static/js/quirks.js?41102b"></script>
<script type="text/javascript">
	var user = {{character_dict|tojson|safe}};
	var chat = {{(chat)|tojson|safe}};
	var chat_meta = {{chat_meta|tojson|safe}};
	var latestNum = {{latest_num}};
</script>
<script src="/static/js/chat.js?41102"></script>
{% endblock %}
{% block content %}

<div id="conversation">
{% if chat_meta['type']!='unsaved' and lines|length>=50 %}
	<p><a href="/chat/{{chat}}/log" target="_blank">View earlier messages</a></p>
{% endif %}
{% for line in lines %}
	<p style="color: #{{line.color}}" class="{% if line.counter==-1 %}system{% else %}user{{line.counter}}{% endif %}">{{line.line}}</p>
{% endfor %}
</div>

<div id="userList" class="sidebar">
	<a href="#" class="close">[close]</a>
{% if chat_meta['type']=='group' %}
	<h1>{{chat.replace('_', ' ')}}</h1>
    <p id="topic">{{chat_meta.get('topic','')}}</p>
      <ul id="metaOptions">
		<li><button type="button" id="topicButton">Set topic</button></li>
		{% if character_dict['meta']['group'] == 'globalmod' %}
		<li>[GLOBAL] <a href="/chat/{{(chat)}}/unban" target="_blank">Unban</a></li>
		<li>[GLOBAL] <a href="/chat/{{(chat)}}/mods" target="_blank">Moderators</a></li>
		{% endif %}
		
		<li><div class="checkbox_outer"><label><input type="checkbox" class="boxy" id="autosilence"/><span class="checky"></span> Auto-silence new users</label></div></li>
	</ul>
	<ul id="metaResults">
		<li id="autosilenceResult">New users are auto-silenced.</li>
	</ul>
	<hr>
{% endif %}
	<h1>Online</h1>
	<ul id="online"></ul>
        {{chat_links|safe}}
</div>

<form id="settings" class="sidebar">
	<a href="#" class="close">[close]</a>
	<h1>Settings</h1>
	<div class="checkbox_outer hidecreppy"><label><input type="checkbox" class="boxy toggledown" name="toggledownfall"/><span class="checky"></span> /toggledownfall</label></div><br>	
	<p><select name="character">
		{% for group in groups %}
		<optgroup label="{{group}}">
			{% for char in characters[group] %}
			<option value="{{char|lower}}"{% if char|lower==user.character['character'] %} selected="selected"{%endif%}>{{char}}</option>
			{% endfor %}
		</optgroup>
		{% endfor %}
	</select></p>
	<p><input type="text" name="name" value="{{user.character['name']}}" maxlength="50"></p>
	<p><input type="text" size="15" name="acronym" value="{{user.character['acronym']}}" maxlength="15"> <input type="text" size="7" name="color" value="{{user.character['color']}}"></p>
	<p><label>Prefix: <input type="text" size="8" name="quirk_prefix" value="{{user.character['quirk_prefix']}}" /></label></p>
	<p><label>Suffix: <input type="text" size="8" name="quirk_suffix" value="{{user.character['quirk_suffix']}}" /></label></p>
	<p><label>Case: <select name="case">
		{% for case in case_options.items()|sort %}
		<option value="{{case[0]}}"{% if case[0]==user.character['case'] %} selected="selected"{%endif%}>{{case[1]}}</option>
		{% endfor %}
	</select></label></p>
	<p>Replacements:</p>
	<ul id="replacementList">
		{% if character_dict['character']['replacements']|length!=0 %}
		{% for replacement in character_dict['character']['replacements'] %}
		<li><input type="text" name="quirk_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteReplacement">x</a></li>
		{% endfor %}
		{% else %}
		<li><input type="text" name="quirk_from" size="4"> to <input type="text" name="quirk_to" size="4"> <a href="#" class="deleteReplacement">x</a></li>
		{% endif %}
	</ul>
	<p><a href="#" id="addReplacement">Add</a> <a href="#" id="clearReplacements">Clear</a></p>
	<p><button type="submit">Apply</button> <button type="button" id="settingsCancelButton">Cancel</button></p>
</form>

<form id="controls">
	<a href="#" id="hidePreview">[hide]</a>
	<div id="preview"></div>
	<input type="text" id="textInput" name="textInput" autocomplete="off" maxlength="1500">
	<button type="button" id="disconnectButton">Abscond</button>
	<button type="button" id="userListButton">User list</button>
	<button type="button" id="settingsButton">Settings</button>
	<a id="logLink" target="_blank">Log</a>
	<button type="submit">Send</button>
</form>

<div id="save">
	<p>Did you enjoy that chat? If so, remember to save the log - the chat will be deleted from this URL in 7 days.</p>
	<form action="/logs/save" method="post" target="_blank"><p>
		<input type="hidden" name="chat" value="">
		<input type="submit" name="save" value="Save log">
		<input type="submit" name="tumblr" value="Save log and post to Tumblr">
	</p></form>
</div>

{% endblock %}
