{% extends "base.html" %}
{% block title%}
Chat - 
{% endblock %}
{% block header %}
<script src="/static/js/quirks.js"></script>
<script type="text/javascript">
	var userColor = {{("#"+user.color)|upper|tojson|safe}};
	var chat = {{(chat)|tojson|safe}};
	var latestNum = {{latestNum}};
</script>
{% include 'apply_quirk_js.html' %}
<script src="/static/js/chat.js?2"></script>
{% endblock %}
{% block content %}
<form id="chat-form" >
<div class="chat-container">
	<div id="chat-log" class="pester-line">
		<div id="chat-log-inner">
			{% for line in lines %}
				<div style="color: #{{line.color}}">{{line.line}}</div>
			{% endfor %}
		</div>
	</div>
	<div id="chat-hover">
		<div id="chat-preview" class="pester-line"><div id="preview-text"> </div><a href="#" id="hide-preview">[hide]</a></div>
		<div class="inputline"><input type="text" id="chat-line" class="pester-line"></div></div>
	</div>
</div>
</form>
{% endblock %}
