{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/em-reset.css" />
<link rel="stylesheet" type="text/css" href="/static/css/home.css?41102" />
<link rel="stylesheet" type="text/css" href="/static/css/characters.css?41031" />
<link rel="stylesheet" media="screen" type="text/css" href="/static/colorpicker/css/colorpicker.css" />
<script type="text/javascript" src="/static/colorpicker/js/colorpicker.js"></script>
<script src="/static/js/characters.js?41102b"></script>
<script src="/static/js/home.js?41102"></script>
{% endblock %}
{% block content %}

<div id="container">
<form method="post" action="{{url_for('save')}}" >
<div class="logo">
	<div class="image"><img src="/static/img/spacer.gif"></div>
</div>
<div id="charbar" >
<!-- ### Character colours go here, something of this style; THIS IS NOT WORKING CODE 
         should be a list of spans back-to-back with width set to % of users on a given hexcode

{% for hexcode in charactersonline %}
	<span style="width:{{usagepercent[hexcode]}}% background-color:{{hexcode}}"></span>
			{% endfor %}

-->
</div>
<div id="navbar">
</div>
<ul id="nav">
	<li class="menubutton">
	<span> &#x22EE;  Menu </span>
 </li>
 <!-- ### Links need inserting here to populate the menu -->
	<li>
		<a class="userguide" href="/userguide" target="_blank"> User Guide
		</a>
	</li>	
	<li>
		<a class="faq" href="/faq" target="_blank">FAQ
		</a>
	</li>
	<li>
		<a class="help" href="http://help.msparp.com/" target="_blank">Help
		</a>
	</li>
	<li>
		<a class="groups new" href="http://forums.msparp.com/forumdisplay.php?fid=11" target="_blank">Groups
		</a>
	</li>
	<li>
		<a class="groupsnsfw new" href="http://forums.msparp.com/forumdisplay.php?fid=12" target="_blank">Groups 18+
		</a>
	</li>
	<li>
		<a class="blog" href="http://blog.msparp.com/" target="_blank">Blog
		</a>
	</li>
	<li>
		<a class="forums" href="http://forums.msparp.com/" target="_blank">Forums
		</a>
	</li>
	<li>
		<a class="bbcode" href="/bbcode" target="_blank">BBCode Guide
		</a>
	</li>
	<li class="hdpion">
		<a class="hdpidisable"  onclick="">Disable hdpi layout
		</a>
	</li>
	<li class="hdpioff">
		<a class="hdpienable"  onclick="">Enable hdpi layout
		</a>
	</li>

</ul>



<div class="blockwrapper">
<!-- ### append error messages into this <p> -->
<p class="error"></p>
<noscript>
You completely need javascript for this site. Turn it on or upgrade to a real browser.
</noscript>

<div class="number-of-users">

	<p id="numberUsers"><span class="bigtext">PARP server is <span id="serverstatus"><span class="ok">running</span></span>.</span><br><br> {{users_searching+users_chatting}} clients connected<br>{{users_chatting}} connections established, {{users_searching}} pending</p>
	<br><div class="checkbox_outer"><label><input type="checkbox" class="boxy wrapbutton" name="wrapbutton"/><span class="checky"></span> wrap chat buttons under quirks</label></div><br>	
	<div class="checkbox_outer"><label><input type="checkbox" class="boxy enablecreppy" name="enablecreppy"/><span class="checky"></span> relive MSCREPPY</label></div><br>	
	<div class="checkbox_outer hidecreppy"><label><input type="checkbox" class="boxy toggledown" name="toggledownfall"/><span class="checky"></span> /toggledownfall</label></div><br>	
</div><div class="noticeblock">
<div class="online-notice">
	<h1>Announcements</h1>
	<span>{{updates_text|safe}}</span>
</div>
</div></div><br>
<div class="blockwrapper">
<div class="leftblock">
<div class="options">
	<!-- <p class="welcometext">{{welcome_text|safe}}</p> -->
	<h1> Roleplay as: </h1>

	<div class="options-contents">
		<select class="character-select" name="character">
			{% for group in groups %}
			<optgroup label="{{group}}">
				{% for char in characters[group] %}
				<option value="{{char|lower}}" {% if char|lower==user.character['character'] %}selected="selected"{%endif%}>{{char}}</option>
				{% endfor %}
			</optgroup>
			{% endfor %}
		</select>{% if error=="character" %}<br />
		<span class="error">Congratulations. You've somehow picked a character who doesn't exist. I'm not sure how you got here, but I guess you'll just have to try again.</span>{% endif %}
	</div>
</div>
<div class="options tableForm">
	<h1> With settings:</h1>
	<div class="options-contents" id="character-config">
		<div class="inputContainer">
			<label for="l_acronym">Acronym:</label>
			<input type="text" size="15" id="l_acronym" name="acronym" value="{{user.character['acronym']}}" maxlength="15"/>
		</div>
		<div class="inputContainer">
			<label for="l_name">Name:</label>
			<input type="text" size="50" id="l_name" name="name" value="{{user.character['name']}}" maxlength="50"/>{% if error=="name" %}
			<span class="error">You can't chat with a blank name!</span>{% endif %}
		</div>
		<div class="inputContainer"> 
			<label for="l_color">Color:</label>
			<input type="text" size="7" id="l_color" name="color" value="{{user.character['color']}}"/>
		</div>
		<span class="pester-line" id="color-preview"><span id="acronym">??: </span><span id="quote">oh god how did this get here I am not good with computer</span></span>{% if error=="color" %}
                <span class="error">You entered an invalid hex code. Try using the color picker.</span>{% endif %}
	</div>
	<a id="quirkexpbutton" onclick="$('#quirkexplain').toggle()">How to disable quirks per line & more</a><br>
	<span id="quirkexplain" style="display:none">
	· "Lower" no longer prevents you from YELLING and EMPHASIS<br>
	· Begin a line with / to prevent quirks from applying<br>
	· Use [caps][/caps] or [c][/c] to force caps<br>
	· Use [whisper][/whisper] or [w][/w] for GC/CG/AT whispering<br>
	</span>
</div>

<div class="options">
<h1> Typing quirks</h1><button data-target="typing-quirks" class="show-button"> SET &#x22EE; </button>
<div class="options-contents defaults-off" id="typing-quirks">

	<div class="tableForm">
		<div class="inputContainer">
			<label>Prefix:</label>
			<input type="text" name="quirk_prefix" value="{{user.character['quirk_prefix']}}"/>
			<label>Suffix:</label>
			<input type="text" name="quirk_suffix" value="{{user.character['quirk_suffix']}}"/>
		</div>
		<div class="inputContainer"> 
			<label for="l_case">Case:</label>
			<select name="case" id="l_case">
				{% for case in case_options.items()|sort %}
				<option value="{{case[0]}}"{% if case[0]==user.character['case'] %} selected="selected"{%endif%}>{{case[1]}}</option>
				{% endfor %}
			</select>{% if error=="case" %}
		<span class="error">Congratulations. You've somehow picked a case option which doesn't exist. I'm not sure how you got here, but I guess you'll just have to try again.</span>{% endif %}
		</div>
	</div>

<p>Letter replacements:</p>
<ul id="replacementList">
			{% if replacements|length!=0 %}
			{% for replacement in replacements %}
			<li><input type="text" name="quirk_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteReplacement">x</a></li>
			{% endfor %}
			{% else %}
			<li><input type="text" name="quirk_from" size="4"> to <input type="text" name="quirk_to" size="4"> <a href="#" class="deleteReplacement">x</a></li>
			{% endif %}
		</ul>
<a href="#" class="linkButton" id="addReplacement">Add</a> <a href="#" class="linkButton" id="clearReplacements">Clear</a>
</div>
</div>
</div>

<div class="rightblock">
<div class="options">
<h1> Search for...</h1>
<div class="tableForm">
	<div class="inputContainer"> 
		<label for="l_para">Script or paragraph?</label> 
		<select name="para" id="l_para">
		<option value="">No preference</option>
		<option value="0"{% if picky_options.get('para')=='0' %} selected="selected"{% endif %}>Script</option>
		<option value="1"{% if picky_options.get('para')=='1' %} selected="selected"{% endif %}>Paragraph</option>
	</select>
	</div>
	<div class="inputContainer">
		<label for="l_nsfw">Work-safe or not?</label> 
		<select name="nsfw" id="l_nsfw">
		<option value="">No preference</option>
		<option value="0"{% if picky_options.get('nsfw')=='0' %} selected="selected"{% endif %}>Work-safe</option>
		<option value="1"{% if picky_options.get('nsfw')=='1' %} selected="selected"{% endif %}>Not work-safe</option>
	</select>
	</div>
 </div>
<input type="hidden" name="save_pickiness" value="true">
<div class="checkbox_outer"><label><input type="checkbox" class="boxy" name="picky" {% if picky|length!=0 %}checked="checked" {%endif%}	/><span class="checky"></span> Look for or exclude specific characters</label></div>
<div id="picky-matches">
<div class="checkbox_outer"><label><input type="checkbox" class="boxy showtext" name="astext" /><span class="checky"></span> Show as text</label></div><br>

<div id="picky-icon">
{% for group in groups %}
		<div class="checkbox_outer"><label class="picky-header"><input type="checkbox" class="boxy" id="group-{{group|lower}}" name="group-{{group|lower}}"><span class="checky"></span> {{group}}</label></div>
		<div class="picky-group">
		{% for char in characters[group] %}
		<div class="checkbutton_outer"><label><input type="checkbox" class="butty" name="picky-{{char|lower}}" {% if char|lower in picky %}
				checked="checked" {% endif %} title="{{char}}"><span class="charbut char{{char.replace(" ", "").replace("(", "").replace(")", "").replace("/", "")|lower}}" title="{{char}}"></span><span class="chartip">{{char}}</span></label></div>
		{% endfor %} 
		</div>
	{% endfor %}
</div>

<div id="picky-text">
{% for group in groups %}
		<div class="checkbox_outer"><label class="picky-header"><input type="checkbox" id="group-{{group|lower}}" class="boxy" name="group-{{group|lower}}"><span class="checky"></span> {{group}}:</label></div>
		<div class="picky-group">
		{% for char in characters[group] %}
		<div class="checkbox_outer"><label><input type="checkbox" class="boxy" name="picky-{{char|lower}}" {% if char|lower in picky %}
				checked="checked" {% endif %} ><span class="checky"></span> {{char}}</label></div>
		{% endfor %} 
		</div>
	{% endfor %}
</div>

</div>
</div>
</div>

<div class="optionswrap">
<ul id="saveOptions">
<li><input type="submit" name="search" class="redbutton" value="==> Enter"></li>
<li><input type="submit" name="save" value="Save info"><br><input type="submit" name="create" value="Create group chat"> <input type="text" class="gname" name="chaturl" placeholder="Chat URL" maxlength="100"></li>
</ul>{% if error=="chaturl_taken" %}
<span class="error">The chat URL you specified has already been taken.</span>{% elif error=="chaturl_invalid" %}
<span class="error">The chat URL you specified is invalid. Chat URLs can only contain letters, numbers, hyphens and underscores.</span>{% endif %}
</div>
</div>

</form>
</div>
{% endblock %}
