{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" media="screen" type="text/css" href="/static/colorpicker/css/colorpicker.css" />
<script type="text/javascript" src="/static/colorpicker/js/colorpicker.js"></script>
<script src="/static/js/characters.js?sprites"></script>
<script src="/static/js/home.js?p"></script>
{% endblock %}
{% block content %}
<form method="post" action="{{url_for('save')}}" >
<noscript>
	<h1>You completely need javascript for this site. Turn it on or upgrade to a real browser.</h1>
</noscript>

<div class="online-notice">
	{{users_searching+users_chatting}} users online ({{users_searching}} searching, {{users_chatting}} chatting)
	<h1>Updates</h1>
	In this space we're gonna put notifications about updates and/or scheduled downtime. Updates may result in your chats being cut off, so please remember to back up your logs if you're using the site when we're updating it. They will usually only happen between 7am and 10am US Eastern time.<br>
	There are no updates scheduled at the moment.
</div>

<div class="options">
	Welcome to MSPARP. If you're not sure what to do, please read the <a href="/static/user-guide.html">user guide</a>.<br>
	<h1>Roleplay as </h1>
	<div class="options-contents">
	<select class="character-select" name="character">
		{% for group in groups %}
		<optgroup label="{{group}}">
			{% for char in characters[group] %}
			<option value="{{char|lower}}" {% if char|lower==user.character['character'] %}selected="selected"{%endif%}>{{char}}</option>
			{% endfor %}
		</optgroup>
		{% endfor %}
	</select>{% if error=="character" %}<br />
	<span class="error">Congratulations. You've somehow picked a character who doesn't exist. I'm not sure how you got here, but I guess you'll just have to try again.</span>{% endif %}
	</div>
</div>
<div class="options">
	<h1>With settings:</h1>
	<div class="options-contents" id="character-config">
		<label>Acronym: <input type="text" size="15" name="acronym" value="{{user.character['acronym']}}" maxlength="15" /></label><br />
		<label>Name: <input type="text" size="50" name="name" value="{{user.character['name']}}" maxlength="50" /></label><br />{% if error=="name" %}
		<span class="error">You can't chat with a blank name!</span><br />{% endif %}
		<label>Color: <input type="text" size="7" name="color" value="{{user.character['color']}}" /></label>
		<span class="pester-line" id="color-preview"><span id="acronym">??: </span><span id="quote">oh god how did this get here I am not good with computer</span></span><br />{% if error=="color" %}
                <span class="error">You entered an invalid hex code. Try using the color picker.</span>{% endif %}
</div></div>
<div class="options">
	<h1>Typing quirks</h1><button data-target="typing-quirks" class="show-button">...</button>
	<div class="options-contents defaults-off" id="typing-quirks">
		<label>Prefix: <input type="text" name="quirk_prefix" value="{{user.character['quirk_prefix']}}" /></label><br />
		<label>Case:
			<select name="case">
				{% for case in case_options.items()|sort %}
				<option value="{{case[0]}}"{% if case[0]==user.character['case'] %} selected="selected"{%endif%}>{{case[1]}}</option>
				{% endfor %}
			</select>
		</label><br />{% if error=="case" %}
		<span class="error">Congratulations. You've somehow picked a case option which doesn't exist. I'm not sure how you got here, but I guess you'll just have to try again.</span><br />{% endif %}
		Letter replacements:<br />
		<ul id="replacementList">
			{% if replacements|length!=0 %}
			{% for replacement in replacements %}
			<li><input type="text" name="quirk_from" size="4" value="{{replacement[0]}}"> to <input type="text" name="quirk_to" size="4" value="{{replacement[1]}}"> <a href="#" class="deleteReplacement">x</a></li>
			{% endfor %}
			{% else %}
			<li><input type="text" name="quirk_from" size="4"> to <input type="text" name="quirk_to" size="4"> <a href="#" class="deleteReplacement">x</a></li>
			{% endif %}
		</ul>
		<a href="#" id="addReplacement">Add</a> <a href="#" id="clearReplacements">Clear</a>
	</div>
</div>
<div class="options">
	<input type="hidden" name="save_pickiness" value="true">
	<label><input type="checkbox" name="picky" 
		{% if picky|length!=0 %}checked="checked" {%endif%}	
	/>Only match me with specific characters</label>
	<div id="picky-matches">
	{% for group in groups %}
		<label class="picky-header"><input type="checkbox" id="group-{{group|lower}}" name="group-{{group|lower}}"> {{group}}:</label>
		<div class="picky-group">
		{% for char in characters[group] %}
		<label><input type="checkbox" name="picky-{{char|lower}}" 
			{% if char|lower in picky %}
				checked="checked" {% endif %} >{{char}}</label>
		{% endfor %} 
		</div>
	{% endfor %}
	</div>
</div>

<ul id="saveOptions">
	<li><input type="submit" name="save" value="Save info"></li>
	<li><input type="submit" name="search" value="Chat with a random person"></li>
	<li><input type="text" name="chaturl" placeholder="Chat URL" maxlength="100"> <input type="submit" name="create" value="Create a group chat"></li>
</ul>{% if error=="chaturl_taken" %}
<span class="error">The chat URL you specified has already been taken.</span>{% elif error=="chaturl_invalid" %}
<span class="error">The chat URL you specified is invalid. Chat URLs can only contain letters, numbers, hyphens and underscores.</span>{% endif %}

</form>
{% endblock %}
