{% include 'header_admin.html' %}
<style>
    body {
        padding-top: 60px;
    }
</style>

<script>
    $(document).ready(function(){
        if (screen.width <= 699) {
            $("td").css('font-size', '14px');
            $(".btn").css("padding", "5px");
        }
    });
</script>

<div class="container">
	<div class="alert alert-info">{{result if result != None else "space rulez (aka this is better than seeing just None \o/)"}}</div>
    <h1> Unban </h1>
    <table class="table table-striped table-bordered" id="usertable">
        <thead>
            <tr>
                <th class="col-sm-2">IP</th>
                <th class="col-sm-8">Reason</th>
                <th class="col-sm-2">Unban</th>
            </tr>
        </thead>
        <tbody>
    {% for x in bans %}
			<form name='{{x}}' action='/admin/globalban' method='post'>
                <input type="hidden" name="ip" value="{{x}}">
                <input type="hidden" name="action" value="unban">
                <tr>
                    <td>{{x}}</td>
                    <td>{{bans[x]}}</td>
                    <td><button type="submit" class="btn btn-primary">Unban</button></td>
                </tr>
            </form>
    {% endfor %}
        </tbody>
    </table>
    <hr>
    <h1> Ban </h1>
    <form role="form" action="/admin/globalban" method="post">
        <input type="hidden" name="action" value="ban">
        <div class="form-group">
            <label for="inputColor">IP</label>
            <input type="text" class="form-control" id="welcome_text" placeholder="127.0.0.1" name="ip">
        </div>
        <div class="form-group">
            <label for="inputColor">Reason</label>
            <input type="text" class="form-control" id="updates_text" placeholder="ban reason goes here" name="reason">
        </div>
        <button type="submit" class="btn btn-default">Ban</button>
    </form>
</div>

</body>

</html>