{% extends "base.html" %}
{% block title%}{% endblock %}
{% block header %}
<link rel="stylesheet" href="/static/css/chat.css?fs">
{% endblock %}
{% block pager %}
{% if paginator.page_count!=1 %}
<div class="pager">
{{paginator.pager(format='~20~')}}
</div>
{% endif %}
{% endblock %}
{% block content %}

{{ self.pager() }}

<div id="archiveConversation">
{% if lines|length!=0 %}
{% if mode=='normal': %}
{% set last_date = None %}
{% for line in lines %}
{% set current_date = line['datetime'].date() %}
{% if current_date!=last_date %}
	<h1>{{current_date.strftime("%A %d %B %Y")}}</h1>
{% set last_date = current_date %}
{% endif %}
	<p style="color: #{{line['color']}}" class="{% if line.counter==-1 %}system{% else %}user{{line['counter']}}{% endif %}">{{line['line']}}<span class="timestamp">{{line['datetime'].strftime('%X')}}</span></p>
{% endfor %}
	<p><a href="{{url_for('view_log', chat=chat, page=current_page, mode='bbcode' )}}">View as BBCode</a></p>
{% elif mode=='bbcode': %}
{% for line in lines %}
	<p>[color=#{{line.color}}]{{line.line}}[/color]</p>
{% endfor %}
	<p><a href="{{url_for('view_log', chat=chat, page=current_page, mode='normal' )}}">View as text</a></p>
{% endif %}
{% else %}
	<p>There isn't a log for this chat - either it hasn't existed long enough to be archived or I've screwed up the archiving system yet again. Chats are archived about half an hour after the chat reaches 50 lines, so if you're still seeing this message after that then please send a series of <em>very angry</em> asks to tehdragonfly.tumblr.com.</p>
{% endif %}
{% if continuable: %}
	<p><a href="/chat/{{chat}}">Continue this chat</a></p>
{% endif %}
</div>

{{ self.pager() }}

<script>
    function getURLParameter(name) {
        return decodeURI(
            (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
        );
    }
    function linkify(inputText) {
        var replacedText, replacePattern1, replacePattern2;

        //URLs starting with http://, https://, or ftp://
        replacePattern1 = /]?=?https?:\/\/[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/gim;
        replacedText = inputText.replace(replacePattern1,
        function(m) {
            if (m.substr(0,1) == "=" || m.substr(0,1) == "]") {
                return m;
            } else {
                return "[url]"+m+"[/url]";
            }
        });

        //Change email addresses to mailto:: links.
        replacePattern2 = /(\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,6})/gim;
        replacedText = replacedText.replace(replacePattern2, '[email]$1[/email]');

        return replacedText;
    }

    if (getURLParameter('mode') == 'bbcode') {

    } else if (getURLParameter('mode') == 'plaintext') {
        $('#archiveConversation p').each(function() {
            line = htmlEncode(bbRemove($(this).html()));
            $(this).html(line);
        });
    } else {
        $('#archiveConversation p').each(function() {
            if ($(this).attr('class')) {
                linin = $(this).html();
                BS = linin.substr(linin.length-39);
                linin = linin.substr(0,linin.length-39);
                line = bbEncode(linkify(linin));
                $(this).html(line).append(BS);
            }
        });
    }

    $('.spoiler').live('click', function() {
        if ($(this).css('opacity') == '0') {
            $(this).css('opacity','1');
        } else {
            $(this).css('opacity','0');
        }
    });
	
	var storage = (function() {
	  var uid = new Date;
	  var result;
	  try {
		localStorage.setItem(uid, uid);
		result = localStorage.getItem(uid) == uid;
		localStorage.removeItem(uid);
		return result && localStorage;
	  } catch (exception) {}
	}());
	
	if (storage){
		if (localStorage.creppy == 'creppy'){
				$('head').append('<link rel="stylesheet" id="creppyid" href="/static/css/mscreppy_chat.css?41031" type="text/css" />');
			}
	}
	
</script>

{% endblock %}
