{% extends "base.html" %}
{% block title%}{% endblock %}
{% block header %}
<link rel="stylesheet" href="/static/css/chat.css?fs">
{% endblock %}
{% block pager %}
{% if paginator.page_count!=1 %}
<div class="pager">
{{paginator.pager(format='~20~')}}
</div>
{% endif %}
{% endblock %}
{% block content %}

{{ self.pager() }}

<div id="archiveConversation">
{% if lines|length!=0 %}
{% if mode=='normal': %}
{% set last_date = None %}
{% for line in lines %}
{% set current_date = line['datetime'].date() %}
{% if current_date!=last_date %}
	<h1>{{current_date.strftime("%A %d %B %Y")}}</h1>
{% set last_date = current_date %}
{% endif %}
	<p style="color: #{{line['color']}}" class="{% if line.counter==-1 %}system{% else %}user{{line['counter']}}{% endif %}">{{line['line']}}<span class="timestamp">{{line['datetime'].strftime('%X')}}</span></p>
{% endfor %}
	<p><a href="{{url_for('view_log', chat=chat, page=current_page, mode='bbcode' )}}">View as BBCode</a></p>
{% elif mode=='bbcode': %}
{% for line in lines %}
	<p>[color=#{{line.color}}]{{line.line}}[/color]</p>
{% endfor %}
	<p><a href="{{url_for('view_log', chat=chat, page=current_page, mode='normal' )}}">View as text</a></p>
{% endif %}
{% else %}
	<p>There isn't a log for this chat - either it hasn't existed long enough to be archived or I've screwed up the archiving system yet again. Chats are archived after about half an hour, so if you're still seeing this message after that then please send a series of <em>very angry</em> asks to tehdragonfly.tumblr.com.</p>
{% endif %}
{% if continuable: %}
	<p><a href="/chat/{{chat}}">Continue this chat</a></p>
{% endif %}
</div>

{{ self.pager() }}

{% endblock %}
