{% extends "base.html" %}
{% block title %}
Searching - 
{% endblock %} 
{% block header %}
<script type="text/javascript">
	var foundYetURL={{url_for('foundYet')|tojson|safe}};
	var chatURL={{url_for('chat',chatid='-CHATID-')|tojson|safe}};
	var quitURL={{url_for('quitSearching')|tojson|safe}};
</script>
<script src="/static/js/search.js?1"></script>
<style type="text/css"> 
* {margin:0;padding:0}
html,body{height:100%}
#wrapper{
	height:100%;
	width:100%;
	display:table;
	vertical-align:middle;
}
#outer{
	display:table-cell;
	vertical-align:middle;
}
#progwrap{
	position:relative;
	left:50%;
	float:left;
}
#progress{
	padding:20px 20px;
	position:relative;
	text-align:center;
	left:-50%;
}
p{margin:1em 0}
input{position:relative;background:#ffffcc}
 
</style> 
<!--[if lt IE 8]>
<style type="text/css">
#progwrap {top:50%}
#progress{top:-50%;}
</style>
<![endif]--> 
<!--[if IE 7]>
<style type="text/css">
#wrapper{
position:relative;
overflow:hidden;
}
</style>
<![endif]--> 
{% endblock %}
{% block content %}
<div id="wrapper"> 
	<div id="outer"> 
		<div id="progwrap"> 
			<div id="progress">
				<img src="/static/img/throbber-big.gif" ><br />
				<b>Searching...</b>
			</div>
		</div>
	</div>
</div>
{% endblock %}
